body {
    background: url(../images/background-img1.jpeg);
    font-family: "Quicksand";
    background-size: cover;
    color: black;
}

.arr-info {
    margin: 25px 0;
}

.dep-info {
    margin: 25px 0;
}

.custom-btn-div {
    height: 10px;
}

#delete-btn {
    display: hide;
}

.transparent {
    background-color: rgba(0,0,0,.5);
}

.basic-card-style {
    border-radius: 6px;
    box-shadow: 0 0.8em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
    display: block;
    background: rgba(248, 248, 248, 0.5);
}

.custom-card-style {
    border-radius: 6px;
    box-shadow: 0 0.8em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
    display: block;
    background: rgba(248, 248, 248, 0.5);
}
.navbar {
    background-color: transparent;
}