.aside-bar {
width:30%;
border-right: 2px solid black;
height:100vh;
padding: 15px 15px;
margin-top: 8px;
}

.hero {
    background-color: #f1f1f1

}

.button {
margin-top:15px;
}

.row {
    display:flex;
}